<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-start text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 pl-4 pt-3 pr-1 text-xl text-gray-700 bg-green-500"> Kontent <span
                    class="text-white">Keep</span></span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover:text-gray-900" href="#">Home</a>
            <a class="mr-5 hover:text-gray-900" href="#">Features</a>
            <a class="mr-5 hover:text-gray-900" href="#">Cloud</a>
            <a class="mr-5 hover:text-gray-900" href="/login">Login</a>
        </nav>
        <button
            class="inline-flex text-white bg-black border-0 py-2 px-4 focus:outline-none hover:bg-indigo-600 rounded text-md">
            Get Started
        </button>
    </div>
</header>