{% extends 'base/protected.html' %}
{% block title %} Home {% endblock %}

{% block content %}

<div class="mx-5 flex gap-4 justify-end">
    <p class="mt-1.5 text-sm text-gray-500 hover:underline"><a href="profile">profile</a></p>
    <p class="mt-1.5 text-sm text-gray-500 hover:underline"><a href="auth/logout/">logout</a></p>
</div>
{% if instagram_auth == true %}

<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center m-10">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl my-10 text-center">Instagram Authorised
            </h1>
            <a class="block bg-blue-500 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-600 focus:outline-none focus:ring"
                href="/instagram-feed">
                Go to Profile
            </a>
        </div>
    </div>

</div>

{% endif %}

{% if instagram_auth == false %}

<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center m-10">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl my-10 text-center">Authorise Instagram to get
                started
            </h1>
            <a class="block bg-blue-500 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-600 focus:outline-none focus:ring"
                href="https://api.instagram.com/oauth/authorize?client_id=1651199432381998&redirect_uri=https://{{redirectBase}}/authorise-instagram/&scope=user_profile,user_media&response_type=code">
                Authorise Instagram
            </a>
        </div>
    </div>
</div>

{% endif %}

<div class="flex flex-col items-center justify-center">
    <h1 class="text-lg"> <span class="text-blue-500"> Facebook</span>, X (Twitter) and others coming soon!</h1>
    <h1 class="text-lg"> We will notify you when the new features arrive</h1>
</div>


{% endblock %}