{% extends 'base/protected.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<p class="mt-1.5 text-sm text-gray-500 text-right m-10 hover:underline"><a href="auth/logout/">logout</a></p>
<div class="flex flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center m-10">
        <div class="flex flex-col items-center justify-center">
            <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl my-10 text-center">Authorise Instagram to get
                started
            </h1>
            <a class="block bg-blue-500 px-5 py-3 text-sm font-medium text-white transition hover:bg-blue-600 focus:outline-none focus:ring"
                href="https://api.instagram.com/oauth/authorize?client_id=1651199432381998&redirect_uri=https://localhost:8000/authorise-instagram/&scope=user_profile,user_media&response_type=code">
                Authorise Instagram
            </a>
        </div>
    </div>
</div>

{% endblock %}