{% extends 'base/public.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{% include 'components/navbar.html' %}

<section class="text-gray-600 body-font bg-indigo-100">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img alt="hero" src="../../static/images/download-man.png">
        </div>
        <div
            class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">
                Own your social media content
            </h1>
            <p class="mb-8 leading-relaxed">
                Kontent Keep is a social media content management platform that allows you to download your social media
                content or store it safely in the cloud.
            </p>
            <div class="flex justify-center">
                <button
                    class="inline-flex text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
                    Download Content
                </button>
                <button
                    class="ml-4 inline-flex text-gray-700 bg-gray-100 border-0 py-2 px-6 focus:outline-none hover:bg-gray-200 rounded text-lg">
                    Cloud Storage
                </button>
            </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Kontent Keep</h2>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 capitalize">
                Social Media Content Management
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Kontent Keep offers seamless content management and secure cloud storage for all your social media
                content. Easily export, organize, and safeguard your digital memories with our user-friendly platform.
            </p>
        </div>
        <div class="flex flex-wrap">
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Download to your device</h2>
                <p class="leading-relaxed text-base mb-4">
                    Easily download your social media content directly to your device. Have your photos, videos, and
                    posts at your fingertips whenever you need them.
                </p>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Easy to use</h2>
                <p class="leading-relaxed text-base mb-4">
                    With a user-friendly interface, managing your social media
                    content has never been easier. Our intuitive platform allows you to organize, access, and retrieve
                    your content anytime, anywhere.

                </p>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Secure cloud storage</h2>
                <p class="leading-relaxed text-base mb-4">
                    Store your content securely in our cloud with end-to-end
                    encryption. Never worry about losing your precious memories or important posts again.
                </p>
            </div>
            <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60">
                <h2 class="text-lg sm:text-xl text-gray-900 font-medium title-font mb-2">Privacy First</h2>
                <p class="leading-relaxed text-base mb-4">
                    Your privacy is our priority. We never share your data with third parties and ensure it is always
                    protected.
                </p>
            </div>
        </div>
        <button
            class="flex my-24 mx-auto text-white bg-black border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">
            Get Started
        </button>
    </div>
</section>

{% endblock %}