<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="../../static/bootstrap-studio/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="../../static/bootstrap-studio/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Features-Boxed.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Footer-Basic.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Header-Blue.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Highlight-Blue.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Highlight-Clean.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="../../static/bootstrap-studio/css/styles.css">
    <title>Kontent Keep | Home</title>
</head>


{% include 'components/bootstrap-navbar.html' %}
<div class="d-xl-flex align-items-xl-center highlight-clean"
    style="height: 500px;border-color: rgb(0,0,0);border-top-color: rgb(0,0,0);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Own your social media content<br></h2>
            <p class="text-center">KontentKeep is a social media content management platform that allows you to
                download your social media content or store it safely in the cloud.<br></p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#" style="background: rgb(0,0,0);">Download
                your feed</a><button class="btn btn-light" type="button">get Cloud storage</button></div>
    </div>
</div>
<div id="how" class="features-boxed" style="background: rgb(255,255,255);">
    <div class="container">
        <div class="intro"></div>
        <div class="row justify-content-center features" style="border-top-style: solid;border-top-color: rgb(0,0,0);">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <h1 style="margin: 20px 0 35px;">1.</h1>
                    <h3 class="name">Login</h3>
                    <p class="text-center description">Login and authorise the social media platforms you'd like to
                        back up.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <h1 style="margin: 20px 0 35px;">2.</h1>
                    <h3 class="name">Select Content</h3>
                    <p class="text-center description">Select the posts that you'd like to backup or download</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <h1 style="margin: 20px 0 35px;">3.</h1>
                    <h3 class="name">Download or Store</h3>
                    <p class="text-center description">Download them securely to your device or send them to cloud
                        storage</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="cloud" class="highlight-blue" style="background: rgb(0,0,0);padding: 70px 0px;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Cloud Storage</h2>
            <p class="text-center">KontentKeep allows you to back your content up to the major cloud storage
                providers. We are still improving our system, so sign up to stay in the loop as our app develops, or
                join the waiting list below.</p>
        </div>
        <div class="buttons"><a class="btn btn-primary" role="button" href="#" style="border-color: #00e33f;">Sign
                up</a></div>
    </div>
</section>
<section class="newsletter-subscribe" style="padding: 80px 0px;border-top-color: rgb(0,0,0);">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Cloud Storage Waiting List</h2>
            <p class="text-center">We are constantly developing, our cloud storage is coming soon</p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email">
            </div>
            <div class="form-group"><button class="btn" type="submit"
                    style="background: #00e33f;color: rgb(255,255,255);">Subscribe </button></div>
        </form>
    </div>
</section>
<footer class="footer-basic" style="border-top-style: solid;border-top-color: var(--gray-dark);padding: 60px 0px;">
    <div class="social"><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a
            href="#"><i class="fas fa-envelope"></i></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">KontentKeep © 2024</p>
</footer>
<script src="../../static/bootstrap-studio/js/jquery.min.js"></script>
<script src="../../static/bootstrap-studio/bootstrap/js/bootstrap.min.js"></script>

</html>