{% extends 'base/bootstrap-public.html' %}
{% block title %}Terms of service{% endblock %}
{% block content %}

<div class="container mt-5">
    <a href="/" class="my-5"> Go back home</a>
    <h1 class="mb-4">Terms of Service for KontentCloud</h1>

    <h2>Introduction</h2>
    <p>Welcome to KontentCloud! By accessing or using our application, you agree to comply with and be bound by these
        Terms of Service ("Terms"). Please read these Terms carefully before using our services.</p>

    <h2>Acceptance of Terms</h2>
    <p>By using the KontentCloud application ("App"), you agree to these Terms, as well as our Privacy Policy. If you do
        not agree with any part of these Terms, you must not use our App.</p>

    <h2>Description of Service</h2>
    <p>KontentCloud provides users with the ability to download their Instagram content to their devices. The content
        passes through our managed servers before being downloaded to the user's device and is then deleted from our
        servers.</p>

    <h2>User Responsibilities</h2>
    <ul>
        <li><strong>Compliance with Laws:</strong> You agree to use the App in compliance with all applicable laws and
            regulations.</li>
        <li><strong>Content Ownership:</strong> You confirm that you own the content you download or have obtained the
            necessary permissions to download it.</li>
        <li><strong>Prohibited Activities:</strong> You agree not to use the App for any illegal or unauthorized
            purpose. You also agree not to engage in any activity that interferes with or disrupts the App.</li>
        <li><strong>No Illegal Content:</strong> You specifically agree not to use the App to download or distribute any
            content that is illegal, including but not limited to content that infringes on intellectual property
            rights, contains malware or viruses, or is obscene, defamatory, or otherwise unlawful.</li>
    </ul>

    <h2>Disclaimer of Warranties</h2>
    <ul>
        <li><strong>As-Is Basis:</strong> The App is provided on an "as-is" and "as-available" basis. We do not warrant
            that the App will be uninterrupted, error-free, or completely secure.</li>
        <li><strong>No Responsibility for Content:</strong> We are not responsible for the content that is downloaded
            via our App. Users are solely responsible for the content they download and any consequences that arise from
            such content.</li>
        <li><strong>Content Screening:</strong> We do not screen content that users download through the App and are not
            responsible for monitoring such content. By using the App, you understand and agree that any content you
            download is at your own risk.</li>
    </ul>

    <h2>Limitation of Liability</h2>
    <p>To the fullest extent permitted by law, KontentCloud, its affiliates, and their respective officers, directors,
        employees, agents, and licensors shall not be liable for any indirect, incidental, special, consequential, or
        punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or any loss of
        data, use, goodwill, or other intangible losses, resulting from (a) your use or inability to use the App; (b)
        any unauthorized access to or use of our servers and/or any personal information stored therein; (c) any content
        obtained from the App; and (d) any conduct or content of any third party on the App.</p>

    <h2>Indemnification</h2>
    <p>You agree to indemnify, defend, and hold harmless KontentCloud, its affiliates, and their respective officers,
        directors, employees, agents, and licensors from and against any and all claims, damages, obligations, losses,
        liabilities, costs, or debt, and expenses (including but not limited to attorney's fees) arising from (a) your
        use of the App; (b) your violation of these Terms; (c) your violation of any rights of a third party; (d) your
        violation of any applicable law; and (e) any content that you download or attempt to download through the App.
    </p>

    <h2>Termination</h2>
    <p>We reserve the right to terminate or suspend your access to the App immediately, without prior notice or
        liability, for any reason whatsoever, including without limitation if you breach these Terms.</p>

    <h2>Changes to Terms</h2>
    <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is
        material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a
        material change will be determined at our sole discretion.</p>

    <h2>Governing Law</h2>
    <p>These Terms shall be governed and construed in accordance with the laws of [Your Country/State], without regard
        to its conflict of law provisions.</p>

    <h2>Severability</h2>
    <p>If any provision of these Terms is found to be invalid or unenforceable by a court of competent jurisdiction, the
        remaining provisions will remain in full force and effect.</p>

    <h2>Entire Agreement</h2>
    <p>These Terms constitute the entire agreement between you and KontentCloud regarding the use of the App and
        supersede any prior agreements between you and KontentCloud.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions about these Terms, please contact us at <a
            href="mailto:support@kontent.cloud">support@kontent.cloud</a>.</p>

    <p>By using the KontentCloud app, you acknowledge that you have read, understood, and agree to be bound by these
        Terms of Service.</p>
</div>

{% endblock %}