<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/htmx.org@1.9.12"></script> <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js"></script> <!-- htmx ext -->
    <script src="https://cdn.tailwindcss.com"></script> <!-- tailwindcss -->

    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <title> {% block title %} {% endblock %} | Saftey Scroll</title>
</head>

<body>
    {% block content %}{% endblock %}
</body>

<script src="../../static/js/functions.js"></script>
<script>
    let jwt_ttl = readCookie("jwt_ttl");
    console.log(jwt_ttl);
    if (jwt_ttl && (window.location.pathname === "/login" || window.location.pathname === "/signup")) {
        window.location.href = "/home";
    }
</script>

</html>